_site
.sass-cache
.jekyll-metadata
.jekyll-cache
.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
_asset_bundler_cache
Gemfile.lock
Gemfile
.Rhistory
*.*~
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/odtu.github.io.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
