<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">


              <p>We are part of the <a href="http://eee.metu.edu.tr/">Electrical-Electronics Engineering Dept.</a> at <a href="http://www.metu.edu.tr">Middle East Technical University</a>.</p>

		</div>
		
		<div class="col-sm-4">
		  Tel: (0312)210 2303<br />
		  <a href="https://goo.gl/maps/wksnzrSi9812">ODTÜ Elektrik-Elektronik Müh.</a>: <br />
		  Çankaya Ankara<br />
           
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
